<!-- best practices inspired by "The Rails View" by John Athayde and Bruce Williams -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>[new app]</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>